<%- include('partials/header', { title: 'Sense Coffee - Home' }) %>

  <section class="hero">
    <h2> Sense Coffee - Your one stop shop for key origins. </h2>
    <p> Select a category to view our currently available beans: </p>
  </section>

<%- include('partials/footer.ejs') %>