.alert {
  padding: 10px; 
  margin-bottom: 15px;
}

.success-alert {
  color: green;
  border: 1px solid green; 
}

.error-alert {
  color: red; 
  border: 1px solid red; 
}

.new-origin-input {
  display: none;
}

.unhide {
  display: block;
}

.hidden {
  display: none;
}

.action-cell {
  display: flex;
  gap: 10px;
}

.section-header {
  display: flex;
  justify-content: space-between;
}